#Ignore node_modules and env variables
/backend/node_modules
/backend/.env
/backend/*pyc
/backend/__pycache__/*
*.swp
*.pyc

/client/node_modules
/client/.env

/node_modules
/node_modules/*

package-lock.json

*.env

