# DATABASE
export DB_HOST=YOUR_HOST
export DB_PORT=YOUR_PORT
export DB_USERNAME=YOUR_DB_USERNAME
export DB_PASSWORD=YOUR_DB_PW
export DB_NAME=YOUR_DB_NAME_cOK

# SECRET KEY JWT
export SECRET_KEY=YOUR_JWT_GENERATE_CODE

# PAYMENT GATEWAY MIDTRANS (SANDBOX)
export MIDTRANS_SERVER_KEY=YOUR_MIDTRANS_SERVER_KEY